<!DOCTYPE html>
<html lang="pt-br">

<%- include head.ejs %>


<body class="theme-teal">

	<%- include topo.ejs %>
	<%- include menu.ejs %>
	<section class="content">
		<div class="content-fluid">
			<%- messages() %>
		</div>
	</section>

	<!-- Jquery Core Js -->
	<script src="/js/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core Js -->
	<script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

	<!-- Select Plugin Js -->
	<script src="/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>

	<!-- Slimscroll Plugin Js -->
	<script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

	<!-- Waves Effect Plugin Js -->
	<script src="/js/plugins/node-waves/waves.js"></script>

	<!-- Jquery CountTo Plugin Js -->
	<script src="/js/plugins/jquery-countto/jquery.countTo.js"></script>

	<!-- Morris Plugin Js -->
	<script src="/js/plugins/raphael/raphael.min.js"></script>
	<script src="/js/plugins/morrisjs/morris.js"></script>

	<!-- ChartJs -->
	<script src="/js/plugins/chartjs/Chart.bundle.js"></script>

	<!-- Flot Charts Plugin Js -->
	<script src="/js/plugins/flot-charts/jquery.flot.js"></script>
	<script src="/js/plugins/flot-charts/jquery.flot.resize.js"></script>
	<script src="/js/plugins/flot-charts/jquery.flot.pie.js"></script>
	<script src="/js/plugins/flot-charts/jquery.flot.categories.js"></script>
	<script src="/js/plugins/flot-charts/jquery.flot.time.js"></script>

	<!-- Sparkline Chart Plugin Js -->
	<script src="/js/plugins/jquery-sparkline/jquery.sparkline.js"></script>

	<!-- Custom Js -->
	<script src="/js/js/admin.js"></script>
	<script src="/js/js/pages/index.js"></script>
	<script src="/js/js/pages/ui/modals.js"></script>

	<!-- Demo Js -->
	<script src="js/demo.js"></script>
	<script src="js/jquery.mask.js"></script>


</body>

</html>