<style>
	.user-info {
		background-image: linear-gradient(to right, #4465f5, #f45c431c), url(/img/palacio-bg.png) no-repeat no-repeat !important;
	}

	.material-icons {
		color: #4465f5;
	}
</style>

<section>
	<!-- Left Sidebar -->
	<aside id="leftsidebar" class="sidebar">
		<!-- User Info -->
		<div class="user-info">			
			<div class="info-container">
				<div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= informacoes.NomeUser%></div>
			    <div class="email"><%= informacoes.EmailUser %></div>
				<div class="btn-group user-helper-dropdown">
					<i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="/app/usuario/Perfil">
								<i class="material-icons" style="color: #4465f5;">assignment_ind</i>
								Perfil
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="/app/usuario/Alterar-Senha">
								<i class="material-icons" style="color: #4465f5;">vpn_key</i>
								Alterar Senha
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="/app/sair">
								<i class="material-icons" style="color: #4465f5;">input</i>
								Sair
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- #User Info -->
		<!-- Menu -->
		<div class="menu">
			<ul class="list">
				<li class="header">NAVEGAÇÃO</li>		
				
				<li>
					<a href="#">
						<i class="material-icons" style="color: #4465f5;">book</i>
						<span>Diários</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="material-icons" style="color: #4465f5;">history</i>
						<span>Logs</span>
					</a>
				</li>
			   
			</ul>
		</div>
		<!-- #Menu -->
		<!-- Footer -->
		<div class="legal">
			<div class="row">
				<div class="col-sm-5">
					<div class="copyright" style="margin-top: 14px;">
						&copy; 2020 <a href="https://seati.ma.gov.br/" target="_blank">SEATI</a>.
					</div>
					<div class="version">
						<b>Versão: </b> 1.0.0
					</div>
				</div>
			</div>
		</div>
		<!-- #Footer -->
	</aside>
	<!-- #END# Left Sidebar -->
	<!-- Right Sidebar -->
	<!-- #END# Right Sidebar -->
</section>