<nav class="navbar" style="background: linear-gradient(to right, #4345f4, #43abf4) !important;">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="javascript:void(0);" class="bars"></a>
			<a class="navbar-brand" href="/"><img src="/img/doema-logo-white.svg" alt="logo" height="50"></a>
		</div>
	</div>
</nav>