<!-- IMPOTANDO CSS CUSTOMIZADO NA NAVBAR  -->
<link href="/css/template-styles/public-nav.css" rel=" stylesheet">

<nav class="navbar bg-gradient-blue">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar-collapse" aria-expanded="false"></a>
      <a class="navbar-brand" href="#">
        <img width="200" src="/img/doema-logo-white.svg" alt="">
      </a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-collapse" aria-expanded="false">
      <ul class="nav navbar-nav navbar-left">
        <!-- Call Search -->
        <li><a href="/inicio" class="js-search" data-close="true">Início</a></li>
        <!-- #END# Call Search -->
        <!-- Notifications -->
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <span class="dropdown-label">Informativo</span><i class="material-icons">arrow_drop_down</i>
          </a>
          <ul class="dropdown-menu">
            <li class="body">
              <div class="slimScrollDiv">
                <ul class="menu">
                  <li>
                    <a href="/informativo/historia" class=" waves-effect waves-block">
                      <div class="icon-circle bg-light-green">
                        <i class="material-icons">person_add</i>
                      </div>
                      <div class="menu-info">
                        <h4>História</h4>
                        <p>
                          <i class="material-icons">access_time</i> História do DOEMA
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/informativo/legislacao" class=" waves-effect waves-block">
                      <div class="icon-circle bg-cyan">
                        <i class="material-icons">gavel</i>
                      </div>
                      <div class="menu-info">
                        <h4>Legislação Diário Oficial</h4>
                        <p>
                          <i class="material-icons">gavel</i> Acesse a nossa legislação
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="slimScrollBar">
                </div>
                <div class="slimScrollRail">
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <span class="dropdown-label">Publicações</span><i class="material-icons">arrow_drop_down</i>
          </a>
          <ul class="dropdown-menu">
            <li class="body">
              <div class="slimScrollDiv">
                <ul class="menu">
                  <li>
                    <a href="/informativo/modelo-publicacao" class=" waves-effect waves-block">
                      <div class="icon-circle bg-blue">
                        <i class="material-icons">file_present</i>
                      </div>
                      <div class="menu-info">
                        <h4>Modelo de <b>Publicação</b></h4>
                        <p>
                          <i class="material-icons">access_time</i> Veja como publicar
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/informativo/normas-publicacao" class=" waves-effect waves-block">
                      <div class="icon-circle bg-blue">
                        <i class="material-icons">fact_check</i>
                      </div>
                      <div class="menu-info">
                        <h4>Normas de Publicação</h4>
                        <p>
                          <i class="material-icons">fact_check</i> 2 hours ago
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/informativo/prazo-publicacao" class=" waves-effect waves-block">
                      <div class="icon-circle bg-blue">
                        <i class="material-icons">access_time</i>
                      </div>
                      <div class="menu-info">
                        <h4>Prazo e data de publicação</h4>
                        <p>
                          <i class="material-icons">access_time</i> 4 hours ago
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="slimScrollBar">
                </div>
                <div class="slimScrollRail">
                </div>
              </div>
            </li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <span class="dropdown-label">Biblioteca </span><i class="material-icons">arrow_drop_down</i>
          </a>
          <ul class="dropdown-menu">
            <li class="body">
              <div class="slimScrollDiv">
                <ul class="menu">
                  <li>
                    <a href="/informativo/modelo-publicacao" class=" waves-effect waves-block">
                      <div class="icon-circle bg-blue">
                        <i class="material-icons">file_present</i>
                      </div>
                      <div class="menu-info">
                        <h4>Acervo Local</b></h4>
                        <p><i class="material-icons">access_time</i> Veja como publicar</p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/informativo/normas-publicacao" class=" waves-effect waves-block">
                      <div class="icon-circle bg-blue">
                        <i class="material-icons">fact_check</i>
                      </div>
                      <div class="menu-info">
                        <h4>Pesquisa em Acervo Local</h4>
                        <p>
                          <i class="material-icons">fact_check</i> 2 hours ago
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/informativo/prazo-publicacao" class=" waves-effect waves-block">
                      <div class="icon-circle bg-blue">
                        <i class="material-icons">access_time</i>
                      </div>
                      <div class="menu-info">
                        <h4>Prazo e data de publicação</h4>
                        <p>
                          <i class="material-icons">access_time</i> 4 hours ago
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="slimScrollBar"
                  style="background: rgba(0, 0, 0, 0.5); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px;">
                </div>
                <div class="slimScrollRail"
                  style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
                </div>
              </div>
            </li>
          </ul>
        </li>

        <!-- <li>
          <a href="javascript:void(0);" class="js-search" data-close="true">Portal da Transparência
          </a>
        </li>
        <li><a href="javascript:void(0);" class="js-search" data-close="true">Secretarias e Órgãos</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="font-weight: bold; font-size: 20px; margin-top: 21px;" href="javascript:void(0);"
            class="js-search" data-close="true">F.A.Q</a></li>

        <li>
          <a href="javascript:void(0);" class=" btn-edoema" data-close="true" style="
					display: flex;
			">
            <i class="material-icons" style="
					display: block;
					margin-left: -5px;
			">fingerprint</i>
            <span style="
					display: block;
					/* margin: 20px; */
					margin-left: 4px;
					margin-top: 1px;
			">PUBLIQUE NO DIÁRIO OFICIAL</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>