<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/img/MPdL(Logo)/MPdL(logo).svg" type="image/x-icon">
  <title>
    <%- process.env.TITLE %>
  </title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Waves Effect Css -->
  <link href="/js/plugins/node-waves/waves.css" rel="stylesheet" />

  <!-- Animation Css -->
  <link href="/js/plugins/animate-css/animate.css" rel="stylesheet" />

  <!-- Dropzone Css -->
  <link href="/js/plugins/dropzone/dropzone.css" rel="stylesheet">

  <!-- Bootstrap Material Datetime Picker Css -->
  <link href="/js/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
    rel="stylesheet" />

  <!-- Bootstrap DatePicker Css -->
  <link href="/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

  <!-- Wait Me Css -->
  <link href="/js/plugins/waitme/waitMe.css" rel="stylesheet" />

  <!-- Bootstrap Select Css -->
  <link href="/js/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

  <!-- Custom Css -->
  <link href="/css/css/style.css" rel="stylesheet">
  <link href="/css/css/themes/all-themes.css" rel="stylesheet" />

</head>
<style>
  .previewImage {}

  .dropzone {
    cursor: pointer;
    background-color: white !important;
    border-radius: 5px !important;
    border: 5px double black !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
  }

  .dropzone:hover {
    transition: .2s all;
    transform: translate(2deg, 2deg);
    transform: scale(1.01);
  }

  .dropzone .dz-message .drag-icon-cph .material-icons {
    font-size: 120px;
    padding: 0;
    color: blue;
  }

  .btn-jornal-upload {
    border-radius: 6px !important;
    width: 100%;
    font-size: 50px !important;
  }

  .btn-jornal-upload {
    border-radius: 6px !important;
    width: 100%;
    font-size: 50px !important;
  }

  .upload-icon {
    font-size: 120px !important;
  }
</style>

<body class="theme-teal">

  <%- include ../template/topo.ejs %>
    <%- include ../template/menu.ejs %>
      <!-- Page Wrapper -->
      <section class="content">
        <%- messages() %>

          <!-- <div class="content-fluid">
            <div class="block-header">
              <h2>Cadastrar Mensagem</h2>
            </div>

            <form enctype="multipart/form-data" method="POST" action="http://localhost:8080/api/jornal">
              <input accept="application/pdf" type="file" name="jornal" id="jornal">
              <input type="submit" value="Enviar">
            </form>

          </div> -->

          <div class="content-fluid">
            <form class="user" id="frmFileUpload2" method="POST" action="http://localhost:8080/api/jornal"
              enctype="multipart/form-data">
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class="body">
                      <div class="row clearfix">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                          <div class="input-group">
                            <div class="form-line">
                              <div class="dropzone">
                                <div class="dz-message">
                                  <div class="drag-icon-cph">
                                    <i class=" upload-icon material-icons">upload_file</i>
                                  </div>
                                  <h3>Clique aqui para publicar o Jornal</h3>
                                </div>
                                <div class="fallback">
                                  <input type="file" id="photo" name="photo" required />
                                </div>
                                <div class="previewImage">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="footer-card">
                      <button type="submit"
                        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-jornal-upload">PUBLICAR</button>
                    </div>
                  </div>
                </div>
            </form>

          </div>


      </section>





      <!-- End of Page Wrapper -->

      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
          </div>
        </div>
      </div>




      <!-- Jquery Core Js -->
      <script src="/js/plugins/jquery/jquery.min.js"></script>

      <!-- Bootstrap Core Js -->
      <script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

      <!-- Select Plugin Js -->
      <script src="/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>

      <!-- Slimscroll Plugin Js -->
      <script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

      <!-- Waves Effect Plugin Js -->
      <script src="/js/plugins/node-waves/waves.js"></script>

      <!-- Autosize Plugin Js -->
      <script src="/js/plugins/autosize/autosize.js"></script>

      <!-- Moment Plugin Js -->
      <script src="/js/plugins/momentjs/moment.js"></script>

      <!-- Dropzone Js -->
      <script src="/js/plugins/dropzone/dropzone.js"></script>

      <!-- Bootstrap Material Datetime Picker Plugin Js -->
      <script src="/js/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

      <!-- Bootstrap Datepicker Plugin Js -->
      <script src="/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

      <!-- Custom Js -->
      <script src="/js/js/admin.js"></script>
      <script>
        Dropzone.autoDiscover = false;
        $("#frmFileUpload2").dropzone({
          url: 'http://localhost:8080/api/jornal',
          paramName: "jornal",
          autoProcessQueue: false,
          uploadMultiple: false,
          maxFiles: "1",
          createImageThumbnails: true,
          addRemoveLinks: true,
          acceptedFiles: ".pdf",
          previewsContainer: ".previewImage",
          dictCancelUpload: "Cancelar Upload",
          dictRemoveFile: "Remover Documento",
          accept: function (file, done) {
            done(file.nome)
          },
          maxfilesexceeded: function (file) {
            this.removeAllFiles();
            this.addFile(file);
          },
          init: function () {
            controle = false;
            this.on("addedfile", function (file) {
              $(".dz-message").hide();
              controle = true;
            })

            this.on("removedfile", function (file) {
              $(".dz-message").show();
              controle = false;
            })
            var submitButton = $("#frmFileUpload2");
            var wrapperThis = this;

            submitButton.submit(function (e) {
              if (controle == true) {
                e.preventDefault();
                e.stopPropagation();
                wrapperThis.processQueue();
              } else {
                e.preventDefault();
                e.stopPropagation();
                alert("O campo imagem é obrigatório.");
                $("#submit-all").attr('disabled', false);
              }
            });

            //send all the form data along with the files:
            this.on("sendingmultiple", function (data, xhr, formData) {
              formData.append("titulo", $("#titulo").val());
              formData.append("dataExpiração", $("#dataExpiracao").val());
            });
            this.on("sending", (param1, param2) => {
              console.log(param1)
              console.log(param2)
            })
          },
          success: function (file, response) {
            console.log(file)
            // window.location.replace('/app/mensagem/list');
          },
          error: function (file, response) {
            // window.location.replace('/app/mensagem/list');
            console.log(response)
          }
        });
      </script>


</body>

</html>