<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info" style="background: url('/img/images/user-img-background.jpg') no-repeat no-repeat;">
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Painel
                Administrativo</div>
            <div class="email">admin@teste</div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="/app/usuario/Perfil" class=" waves-effect waves-block">
                            <i class="material-icons" style="color: red;">assignment_ind</i>
                            Perfil
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="/app/usuario/Alterar-Senha" class=" waves-effect waves-block">
                            <i class="material-icons" style="color: red;">miscellaneous_services</i>
                            Alterar Senha
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="/app/sair" class=" waves-effect waves-block">
                            <i class="material-icons" style="color: red;">input</i>
                            Sair
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 672px;">
            <ul class="list" style="overflow: hidden; width: auto; height: 672px;">
                <li class="header">NAVEGAÇÃO</li>
                <li>
                    <a href="/app/doemaRoutes/Categoria" class=" waves-effect waves-block">
                        <i class="material-icons" style="color: red;">dynamic_feed</i>
                        <span>Categoria</span>
                    </a>
                </li>
                <li>
                    <a href="/app/doemaRoutes/upload-jornal" class=" waves-effect waves-block">
                        <i class="material-icons" style="color: red;">unarchive</i>
                        <span>Upload de Diários</span>
                    </a>
                </li>
                <li>
                    <a href="/app/doemaRoutes/usuarios/listar" class=" waves-effect waves-block">
                        <i class="material-icons" style="color: red;">home_work</i>
                        <span>Usuários</span>
                    </a>
                </li>

                <li>
                    <a href="/app/doemaRoutes/noticias">
                        <i class="material-icons" style="color: red;">outlined_flag</i>
                        <span>Notícias</span>
                    </a>
                </li>
                <li>
                    <a href="/app/doemaRoutes/logs">
                        <i class="material-icons" style="color: red;">feed</i>
                        <span>Logs</span>
                    </a>
                </li>
                <li>
                    <a href="/app/doemaRoutes/relatorios">
                        <i class="material-icons" style="color: red;">schedule</i>
                        <span>Relatórios</span>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">schedule</i>
                        <span>Notícia</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle">
                                <span>Cards</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="pages/widgets/cards/basic.html">Basic</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span>Infobox</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
            <div class="slimScrollBar"
                style="background: rgba(0, 0, 0, 0.5); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 672px;">
            </div>
            <div class="slimScrollRail"
                style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
            </div>
        </div>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="row">
            <div class="col-sm-5">
                <div class="copyright" style="margin-top: 14px;">
                    © 2020 <a href="https://seati.ma.gov.br/" target="_blank">SEATI</a>.
                </div>
                <div class="version">
                    <b>Versão: </b> 1.0.0
                </div>
            </div>
            <div class="col-sm-7">
                <img src="/img/maranhao.png" width="120">
            </div>
        </div>
    </div>
    <!-- #Footer -->
</aside>