<!DOCTYPE html>
<html lang="en">
<%- include ../../template/head.ejs %>

<body>
	<%- include ../../template/topo-public.ejs %>

</body>

<div class="container">
	<div class="row">
		<h1>LEGISLAÇÃO</h1>
	</div>
</div>

<div class="scripts">
	<script src="/js/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core Js -->
	<script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

	<!-- Slimscroll Plugin Js -->
	<script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

	<!-- Waves Effect Plugin Js -->
	<script src="/js/plugins/node-waves/waves.js"></script>

	<!-- Jquery CountTo Plugin Js -->
	<script src="/js/plugins/jquery-countto/jquery.countTo.js"></script>

	<!-- Morris Plugin Js -->
	<script src="/js/plugins/raphael/raphael.min.js"></script>
	<script src="/js/plugins/morrisjs/morris.js"></script>

	<!-- Light Gallery Plugin Js -->
	<script src="/js/plugins/light-gallery/js/lightgallery-all.js"></script>

	<!-- Custom Js -->
	<script src="/js/js/pages/medias/image-gallery.js"></script>

	<!-- Custom Js -->
	<script src="/js/js/admin.js"></script>
	<script src="/js/js/pages/index.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/datatables-demo.js"></script>

	<!-- Jquery Mask Js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

	<!-- Inclusão de Máscaras Js-->
	<script src="/js/shopping-crianca-mask.js"></script>
</div>

</html>