<html lang="pt-br" data-kantu="1" class="chrome">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/img/sdc-color.svg" type="image/x-icon">
  <title>
    Diário Oficial do Maranhão
  </title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Google Fonts -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Waves Effect Css -->
  <link href="/js/plugins/node-waves/waves.css" rel="stylesheet">

  <!-- Animation Css -->
  <link href="/js/plugins/animate-css/animate.css" rel="stylesheet">

  <!-- Dropzone Css -->
  <link href="/js/plugins/dropzone/dropzone.css" rel="stylesheet">


  <!-- Bootstrap DatePicker Css -->
  <link href="/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet">

  <!-- Wait Me Css -->
  <link href="/js/plugins/waitme/waitMe.css" rel="stylesheet">

  <!-- Bootstrap Select Css -->
  <link href="/js/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">

  <!-- Custom Css -->
  <link href="/css/css/style.css" rel="stylesheet">
  <link href="/css/css/themes/all-themes.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/css/style2.css">
  <!-- Bootstrap Material Datetime Picker Css -->
  <link href="/js/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/img/sdc-color.svg" type="image/x-icon">
  <title>
    Diário Oficial do Maranhão
  </title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Google Fonts -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Waves Effect Css -->
  <link href="/js/plugins/node-waves/waves.css" rel="stylesheet">

  <!-- Animation Css -->
  <link href="/js/plugins/animate-css/animate.css" rel="stylesheet">

  <!-- Dropzone Css -->
  <link href="/js/plugins/dropzone/dropzone.css" rel="stylesheet">


  <!-- Bootstrap DatePicker Css -->
  <link href="/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet">

  <!-- Wait Me Css -->
  <link href="/js/plugins/waitme/waitMe.css" rel="stylesheet">

  <!-- Bootstrap Select Css -->
  <link href="/js/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">

  <!-- Custom Css -->
  <link href="/css/css/style.css" rel="stylesheet">
  <link href="/css/css/themes/all-themes.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/css/style2.css">
  <!-- Bootstrap Material Datetime Picker Css -->
  <link href="/js/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">

  <style>
    .navbar-nav>li>a {
      font-weight: 400;
      color: white;
    }

    nav {

      color: white !important;
      background: linear-gradient(to right, #eb3349, #f45c43) !important;
    }

    .btn-biblioteca {
      padding: 10px;
      color: white;
      background-color: #841616 !important
    }

    .btn-biblioteca:hover {
      color: blanchedalmond;
    }

    .number-label {
      color: white;
      margin: 5px;
      font-weight: 900;
      font-size: 60px;
      display: block;
      border-right: 2px solid white;
      padding: 15px;
    }

    .boxinfo-biblioteca {
      display: flex;

      box-shadow: 1px 1px 1px !important;
      background: linear-gradient(to right, #4345f4, #43abf4) !important;
      border-radius: 5px;
      height: 130px;
      margin: 20px 0;

    }

    .biblio-info {
      padding: 10px;
      color: white;
      font-size: 14px;
    }
  </style>
  <link href="/css/template-styles/public-nav.css" rel=" stylesheet">
  <style>
    .fc-icon-left-single-arrow::after {
      font-size: 16px !important;
      top: -20%;
    }

    .fc-icon-right-single-arrow::after {
      font-size: 16px !important;
      top: -20%;
    }

    .fc-toolbar .fc-center {
      position: absolute !important;
      left: 27% !important;
    }

    .fc-clear {
      display: none;
    }
  </style>
  <style type="text/css">
    .jqstooltip {
      position: absolute;
      left: 0px;
      top: 0px;
      visibility: hidden;
      background: rgb(0, 0, 0) transparent;
      background-color: rgba(0, 0, 0, 0.6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
      color: white;
      font: 10px arial, san serif;
      text-align: left;
      white-space: nowrap;
      padding: 5px;
      border: 1px solid white;
      box-sizing: content-box;
      z-index: 10000;
    }

    .jqsfield {
      color: white;
      font: 10px arial, san serif;
      text-align: left;
    }
  </style>
</head>

<!-- IMPOTANDO CSS CUSTOMIZADO NA NAVBAR  -->




<body class="ls-closed">
  <nav class="navbar bg-gradient-blue">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar-collapse" aria-expanded="false"></a>
        <a class="navbar-brand" href="#">
          <img width="200" src="/img/doema-logo-white.svg" alt="">
        </a>
      </div>

      <div class="navbar-collapse collapse" id="navbar-collapse" aria-expanded="false">
        <ul class="nav navbar-nav navbar-left">
          <!-- Call Search -->
          <li><a href="/inicio" class="nav-link" data-close="true">Início</a></li>
          <!-- #END# Call Search -->
          <!-- Notifications -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
              <span class="dropdown-label">Informativo</span>
              <i style="font-size: 16px;" class="material-icons ">keyboard_arrow_down</i>
            </a>
            <ul class="dropdown-menu">
              <li class="body">
                <div class="slimScrollDiv">
                  <ul class="menu">
                    <li>
                      <a href="/informativo/historia" class=" waves-effect waves-block">
                        <div class="icon-circle bg-light-green">
                          <i class="material-icons">person_add</i>
                        </div>
                        <div class="menu-info">
                          <h4>História</h4>
                          <p>
                            <i class="material-icons">access_time</i> História do DOEMA
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="/informativo/legislacao" class=" waves-effect waves-block">
                        <div class="icon-circle bg-cyan">
                          <i class="material-icons">gavel</i>
                        </div>
                        <div class="menu-info">
                          <h4>Legislação Diário Oficial</h4>
                          <p>
                            <i class="material-icons">gavel</i> Acesse a nossa legislação
                          </p>
                        </div>
                      </a>
                    </li>
                  </ul>
                  <div class="slimScrollBar">
                  </div>
                  <div class="slimScrollRail">
                  </div>
                </div>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
              <span class="dropdown-label">Publicações</span>
              <i style="font-size: 16px;" class="material-icons ">keyboard_arrow_down</i>
            </a>
            <ul class="dropdown-menu">
              <li class="body">
                <div class="slimScrollDiv">
                  <ul class="menu">
                    <li>
                      <a href="/informativo/modelo-publicacao" class=" waves-effect waves-block">
                        <div class="icon-circle bg-blue">
                          <i class="material-icons">file_present</i>
                        </div>
                        <div class="menu-info">
                          <h4>Modelo de <b>Publicação</b></h4>
                          <p>
                            <i class="material-icons">access_time</i> Veja como publicar
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="/informativo/normas-publicacao" class=" waves-effect waves-block">
                        <div class="icon-circle bg-blue">
                          <i class="material-icons">fact_check</i>
                        </div>
                        <div class="menu-info">
                          <h4>Normas de Publicação</h4>
                          <p>
                            <i class="material-icons">fact_check</i> 2 hours ago
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="/informativo/prazo-publicacao" class=" waves-effect waves-block">
                        <div class="icon-circle bg-blue">
                          <i class="material-icons">access_time</i>
                        </div>
                        <div class="menu-info">
                          <h4>Prazo e data de publicação</h4>
                          <p>
                            <i class="material-icons">access_time</i> 4 hours ago
                          </p>
                        </div>
                      </a>
                    </li>
                  </ul>
                  <div class="slimScrollBar">
                  </div>
                  <div class="slimScrollRail">
                  </div>
                </div>
              </li>
            </ul>
          </li>


          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
              <span class="dropdown-label">Biblioteca </span>
              <i style="font-size: 16px;" class="material-icons ">keyboard_arrow_down</i>
            </a>
            <ul class="dropdown-menu">
              <li class="body">
                <div class="slimScrollDiv">
                  <ul class="menu">
                    <li>
                      <a href="/biblioteca/acervo" class=" waves-effect waves-block">
                        <div class="icon-circle bg-blue">
                          <i class="material-icons">file_present</i>
                        </div>
                        <div class="menu-info">
                          <h4>Acervo Local</h4>
                          <p><i class="material-icons">access_time</i> Veja como publicar</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="/biblioteca/pesquisa" class=" waves-effect waves-block">
                        <div class="icon-circle bg-blue">
                          <i class="material-icons">fact_check</i>
                        </div>
                        <div class="menu-info">
                          <h4>Pesquisa em Acervo Local</h4>
                          <p>
                            <i class="material-icons">fact_check</i> 2 hours ago
                          </p>
                        </div>
                      </a>
                    </li>
                  </ul>
                  <div class="slimScrollBar"
                    style="background: rgba(0, 0, 0, 0.5); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px;">
                  </div>
                  <div class="slimScrollRail"
                    style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
                  </div>
                </div>
              </li>
            </ul>
          </li>

          <!-- <li>
          <a href="javascript:void(0);" class="js-search" data-close="true">Portal da Transparência
          </a>
        </li>
        <li><a href="javascript:void(0);" class="js-search" data-close="true">Secretarias e Órgãos</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a style="font-weight: bold; font-size: 20px; margin-top: 21px;" href="javascript:void(0);"
              class="js-search" data-close="true">F.A.Q</a></li>

          <li>
            <a href="https://www.diariooficial.ma.gov.br/diario/f/login.xhtml" target="__blank" class=" btn-edoema"
              data-close="true" style="
					display: flex;
			">
              <i class="material-icons" style="
					display: block;
					margin-left: -5px;
			">fingerprint</i>
              <span style="
					display: block;
					/* margin: 20px; */
					margin-left: 4px;
					margin-top: 1px;
			">PUBLIQUE NO DIÁRIO OFICIAL</span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>




  <div style="margin-top: 120px;" class="container">
    <div class="row clearfix">
      <div class="col-sm-12 col-m2-12 col-lg-12" style="text-align: center;">
        <div class="biblioteca-cabecalho">
          <h1 style="color: #972632;font-size: 60px;">FORMULÁRIO DE CONSULTA</h1>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-md-4">
        <div class="boxinfo-biblioteca">
          <span class="number-label">1º</span>
          <p class="biblio-info">
            Informe os seus dados pessoais (nome, CPF e e-mail)
            para a sua identificação na nossa base de dados
          </p>
        </div>
      </div>

      <div class=" col-md-4">
        <div class="boxinfo-biblioteca">
          <span class="number-label">2º</span>
          <p class="biblio-info">
            Informe o tipo do JORNAL (selecione a opção 'não incluir' caso não saiba).
            Em seguida, selecione o tipo de consulta
            que você deseja realizar para obter melhores resultados
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="boxinfo-biblioteca">
          <span class="number-label">3º</span>
          <p class="biblio-info">
            RECURSOS HUMANOS
            BOLETIM 030/2021 O GOVERNADOR DO ESTADO DO RIO GRANDE DO SUL, no uso de suas atribuições,
            tendo
            em
            vista
            o que consta no Processo nº 21/1204-0001955-3, DISPENSA, “a pedido”, a c...
          </p>
        </div>

      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12 col-md-12">
        <form class="user" method="POST" action="/public/biblioteca/listar" enctype="multipart/form-data">
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="header">
                  Detalhes da pesquisa
                </div>
                <div class="body">
                  <div class="row clearfix">
                    <div class="col-sm-12 col-md-3">
                      <div class=" input-group">
                        <span class="input-group-addon">
                          <span class="material-icons">book</span>
                        </span>
                        <h6>JORNAL: </h6>
                        <div class="btn-group bootstrap-select input-group-btn form-control show-tick"><button
                            type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown"
                            title="SELECIONE O JORNAL"><span class="filter-option pull-left">SELECIONE O JORNAL
                            </span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                          <div class="dropdown-menu open">
                            <ul class="dropdown-menu inner" role="menu">
                              <li data-original-index="0" class="selected"><a tabindex="0" class="" style=""
                                  data-tokens="null"><span class="text">SELECIONE O JORNAL </span><span
                                    class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span
                                    class="text">EXECUTIVO</span><span
                                    class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span
                                    class="text">TERCEIROS</span><span
                                    class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span
                                    class="text">SUPLEMENTO EXECUTIVO
                                  </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span
                                    class="text">SUPLEMENTO TERCEIROS
                                  </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="5"><a tabindex="0" class="" style="" data-tokens="null"><span
                                    class="text">NÃO ESPECIFICAR</span><span
                                    class="glyphicon glyphicon-ok check-mark"></span></a></li>
                            </ul>
                          </div><select class="form-control show-tick" tabindex="-98">
                            <option value="">SELECIONE O JORNAL </option>
                            <option value="EXECUTIVO">EXECUTIVO</option>
                            <option value="TERCEIROS">TERCEIROS</option>
                            <option value="SUPLEMENTO_EXECUTIVO">SUPLEMENTO EXECUTIVO
                            </option>
                            <option value="SUPLEMENTO_TERCEIROS">SUPLEMENTO TERCEIROS
                            </option>
                            <option value="NULL">NÃO ESPECIFICAR</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                      <div class=" input-group">
                        <span class="input-group-addon">
                          <span class="material-icons">book</span>
                        </span>
                        <h6>TIPO DE CONSULTA: </h6>
                        <div class="btn-group bootstrap-select input-group-btn form-control show-tick"><button
                            type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown"
                            title="SELECIONE O TIPO"><span class="filter-option pull-left"> SELECIONE O TIPO
                            </span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                          <div class="dropdown-menu open">
                            <ul class="dropdown-menu inner" role="menu">
                              <li data-original-index="0" class="selected"><a tabindex="0" class="" style=""
                                  data-tokens="null"><span class="text"> SELECIONE O TIPO </span><span
                                    class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span
                                    class="text">NOMEAÇÃO</span><span
                                    class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span
                                    class="text">ATO DE APOSENTADORIA</span><span
                                    class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span
                                    class="text">REFORMA</span><span
                                    class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span
                                    class="text">EXCLUSÃO</span><span
                                    class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="5"><a tabindex="0" class="" style="" data-tokens="null"><span
                                    class="text">LEI Nº</span><span
                                    class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="6"><a tabindex="0" class="" style="" data-tokens="null"><span
                                    class="text">DECRETO Nº</span><span
                                    class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="7"><a tabindex="0" class="" style="" data-tokens="null"><span
                                    class="text">PORTARIA Nº</span><span
                                    class="glyphicon glyphicon-ok check-mark"></span></a></li>
                            </ul>
                          </div><select class="form-control show-tick" tabindex="-98">
                            <option value=""> SELECIONE O TIPO </option>
                            <option value="EXECUTIVO">NOMEAÇÃO</option>
                            <option value="TERCEIROS">ATO DE APOSENTADORIA</option>
                            <option value="SUPLEMENTO_EXECUTIVO">REFORMA</option>
                            <option value="SUPLEMENTO_TERCEIROS">EXCLUSÃO</option>
                            <option value="NULL">LEI Nº</option>
                            <option value="NULL">DECRETO Nº</option>
                            <option value="NULL">PORTARIA Nº</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <div class="input-group input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                          <h6>TERMO DE CONSULTA: </h6>
                          <input placeholder="Lei nº 341, Decreto nº 2332" type="text" class="form-control"
                            id="termoBiblioteca" name="termoBiblioteca">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="header">
                  Informações Pessoais e de Contato
                </div>
                <div class="body">
                  <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                      <div class="input-group-lg input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                          <h6>NOME COMPLETO: *</h6>
                          <input type="text" class="form-control" id="nome" name="nome" treatment="capitalize"
                            required="">
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                      <div class="input-group-lg input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                          <h6>CPF: *</h6>
                          <input type="text" class="form-control" id="cpf" name="cpf" required="" maxlength="14">
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="input-group-lg input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                          <h6>E-MAIL: *</h6>
                          <input type="email" class="form-control" id="email" name="email" required="">
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <button style="float: right;" type="submit" class="btn btn-biblioteca waves-effect">
                <i class="material-icons">search</i>
                <span>PESQUISAR</span>
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>










  <div class="scripts">

    <!-- Jquery Core Js -->
    <script src="/js/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/js/plugins/node-waves/waves.js"></script>



    <!-- Jquery CountTo Plugin Js -->
    <script src="/js/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="/js/plugins/raphael/raphael.min.js"></script>

    <script src="/js/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="/js/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="/js/plugins/flot-charts/jquery.flot.js"></script>
    <script src="/js/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="/js/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="/js/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="/js/plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- JQuery Steps -->

    <script src="\js\plugins\jquery-steps\jquery.steps.min.js"></script>

    <!-- Momment JS for date-picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="/js/plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Custom Js -->
    <script src="/js/js/admin.js"></script>
    <script src="/js/js/pages/index.js"></script>
    <script src="/js/js/pages/ui/modals.js"></script>

    <script src="js/jquery.mask.js"></script>
    <script src="js/shopping-crianca-mask.js"></script>

    <!-- Demo Js -->
    <script src="js/demo.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script src="/js/shopping-crianca-mask.js"></script>

  </div>


</body>

</html>