<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- datatable -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
  <title>Hello, world!</title>

  <style>
    .principal {
      background-image:linear-gradient(red, blue, green), url("/img/palacio-bg.jpg") ;
      background-repeat: no-repeat;
      background-size: cover;
      height: calc(100vh - 59px);
    }
  </style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/img/doema-logo-white.svg" width="150" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- ITEM INÍCIO -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Início</a>
        </li>
        <!-- PUBLICAÇÕES DROPDOWN -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="drop-publicacoes" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Publicações
          </a>
          <ul class="dropdown-menu" aria-labelledby="drop-publicacoes">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <!-- INFORMATIVO DROPDOWN -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="drop-informativo" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Informativo
          </a>
          <ul class="dropdown-menu" aria-labelledby="drop-informativo">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <!-- BIBLIOTECA DROPDOWN -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="drop-biblioteca" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Biblioteca
          </a>
          <ul class="dropdown-menu" aria-labelledby="drop-biblioteca">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<body>

  <section class="principal d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-md-center ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card  shadow-lg  rounded">

            <div class="card-body ">
              <table id="example" class="table table-striped" style="width:100%">
                <thead>
                  <tr>
                    <th>Caderno</th>
                    <th>Data </th>
                    <th>Resultado</th>
                    <th>Página</th>
                    <!-- <th>Visualizar</th>
                    <th>Download</th> -->
                  </tr>
                </thead>
                <tbody>

                  <% for (var i=0; i < termo.length; i++) { %>
                    <tr>
                      <td>
                        <%-termo[i].caderno %>
                      </td>
                      <td>
                        <%-termo[i].titulo %>
                      </td>
                      <td>
                        <%-termo[i].fragmento %>
                      </td>
                      <td>
                        <%=termo[i].pagina %>
                      </td>
                    </tr>
                   <% } %>

                </tbody>
                <tfoot>
                  <tr>
                    <th>Caderno</th>
                    <th>Data </th>
                    <th>Resultado</th>
                    <th>Página</th>
                    <!-- <th>Visualizar</th>
                    <th>Download</th> -->
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>





  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>



  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

  <script>
    $(document).ready(function () {
      $('#example').DataTable();
    });
  </script>
</body>

</html>