 /* DEVICE */
@media screen and (max-width: 600px) {
  body{
    background-color: #FFF;

  }

#calendar{
  border: 2px solid black !important;
}


}






.banner {
  box-shadow: 0 0 10px 4px #41414152;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;

  transform: translate(-50%, -50%);

}

.banner:hover {
  background-color: red;
  cursor: pointer;

}





.card-anchor:hover,
.card-anchor:focus {
  text-decoration: none;
  cursor: pointer;
  color: red;

}

.card-anchor i {
  background: linear-gradient(to right, #4345f4, #43abf4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-opcoes {
  height: 250px;
  border-radius: 10px;
}

.opcoes-titulo {
  margin-top: 40px;
}

.opcoes-p {}

.header-primario {
  background-color: red;
  height: 120px;
  width: 100vw;
  clip-path: polygon(0% 0%, 100% 100%, 0 100%, 0% 100%);

}

.header-primario h1 {
  font-weight: 900;
  color: white;
}

.header-primario h1 span {}


.pesquisa-anchor:hover,
.pesquisa-anchor:active,
.pesquisa-anchor:visited,
.pesquisa-anchor:target {
  text-decoration: none;
}

.jornal-bg {
  border: 2px solid #4355f440;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
