<!DOCTYPE html>
<html lang="pt-br">

<%- include ./template/head.ejs %>

<style>
	.login-box {
		margin-top: 130px !important;
	}

	.logo {
		text-align: center;
	}

	.login-page {
		max-width: 400px !important;
		background: #eb3349 !important;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #43abf4, #4345f4) !important;
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #4345f4, #43abf4) !important;
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}




	.bg-red {
		margin: 15px;
		padding: 15px;
		background: #eb3349;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #43abf4, #4345f4) !important;
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #43abf4, #4345f4) !important;
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
</style>

<body class="login-page">

	<script>


	</script>

	<div class="login-box">
		<% if(typeof erroEscola != 'undefined'){ %>
		<div class="alert alert-warning" role="alert">
			<i class="fas fa-exclamation-triangle"></i> Seu perfil ainda não foi deferido!
		</div>
		<%  delete erroEscola; 
        } %>
		<%- messages() %>
		<div class="card">
			<div class="body">
				<form id="sign_in" method="POST" action="/app/authentication">
					<div class="logo">
						<img src="/img/doema-logo-white.svg" alt="logo" height="90" style="margin-left: 10px;">
					</div>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="material-icons">person</i>
						</span>
						<div class="form-line">
							<input type="text" class="form-control" name="email" placeholder="E-mail" required
										 autofocus>
						</div>
					</div>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="material-icons">lock</i>
						</span>
						<div class="form-line">
							<input type="password" class="form-control" name="password" placeholder="Senha" required>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12" style="display: flex; justify-content: center;">
							<button class="btn btn-block bg-red waves-effect" type="submit">ENTRAR</button>
						</div>
					</div>
					<div class="row m-t-15 m-b--20">

					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Jquery Core Js -->
	<script src="/js/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core Js -->
	<script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

	<!-- Waves Effect Plugin Js -->
	<script src="/js/plugins/node-waves/waves.js"></script>

	<!-- Validation Plugin Js -->
	<script src="/js/plugins/jquery-validation/jquery.validate.js"></script>

	<!-- Custom Js -->
	<script src="/js/js/admin.js"></script>
	<script src="/js/js/pages/examples/sign-in.js"></script>

</body>

</html>