<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/img/sdc-color.svg" type="image/x-icon">
  <title>
    <%- process.env.TITLE %>
  </title>


  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Waves Effect Css -->
  <link href="/js/plugins/node-waves/waves.css" rel="stylesheet" />

  <!-- Animation Css -->
  <link href="/js/plugins/animate-css/animate.css" rel="stylesheet" />

  <!-- Bootstrap Material Datetime Picker Css -->
  <link href="/js/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
    rel="stylesheet" />

  <!-- Bootstrap DatePicker Css -->
  <link href="/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

  <!-- Wait Me Css -->
  <link href="/js/plugins/waitme/waitMe.css" rel="stylesheet" />

  <!-- Bootstrap Select Css -->
  <link href="/js/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

  <!-- Custom Css -->
  <link href="/css/css/style.css" rel="stylesheet">

  <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
  <link href="/css/css/themes/all-themes.css" rel="stylesheet" />

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>





  <!-- Bootstrap Core Css -->
  <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
  <!-- Waves Effect Css -->
  <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />
  <!-- Animation Css -->
  <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />
  <!-- Custom Css -->
  <link href="../../css/style.css" rel="stylesheet">
  <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
  <link href="../../css/themes/all-themes.css" rel="stylesheet" />

  <!-- FULL CALENDAR  -->

  <link href="/fullcalendar/wwwroot/fullcalendar.min.css" rel="stylesheet">
  <link href="/fullcalendar/wwwroot/fullcalendar.print.min.css" rel="stylesheet" media="print">
  <link href='fullcalendar/wwwroot/main.css' rel="stylesheet">



  <link rel="stylesheet" href="/css/template-styles/inicio.css">


</head>

<style>
  .card {
    font-family: 'Nunito', sans-serif;
  }

  .banner-inicio {
    width: 80vw;
    height: 80vh;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
  }

  header {
    padding: 20px;
    height: 170px;
  }

  header h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
  }

  header span {
    display: block;
    font-size: 20px;
  }

  .principal {
    margin-top: 70px;




    height: calc(100vh - 70px);
  }

  #calendar {
    background: white;
  }
</style>


<body>
  <%- include ../template/topo-public.ejs %>



    </div>

    <% if (locals.mensagem) { %>
      <div style="display: none;" class="banner-inicio">
        <img class="banner" src="data:image/png;base64;svg;jpg;jpeg, <%= mensagem.base64Img%>" />
      </div>
      <% } %>

        <section class="principal">
          <div class="container">
            <div class="row" style="margin-top: 100px;">
              <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div
                  style="  border-radius: 14px; box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px !important;"
                  class="box-calendario">
                  <div id="calendar"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div style="text-align: center; transform: translateY(-30px);">
                  <img class="jornal-bg" width="300" src="/img/jornal-bg.png" alt="">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <div class="info-box bg-red hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">menu_book</i>
                  </div>
                  <div class="content">
                    <div class="text">TERCEIROS</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">
                      125</div>
                  </div>
                </div>
                <div class="info-box bg-red hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">menu_book</i>
                  </div>
                  <div class="content">
                    <div class="text">EXECUTIVO</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">
                      125</div>
                  </div>
                </div>
                <div class="info-box bg-red hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">menu_book</i>
                  </div>
                  <div class="content">
                    <div class="text">SUPLEMENTOS</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">
                      125</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class=" col-xs-12 col-sm-12 col-md-12">
                <div style="text-align: center;" class="center">
                  <h2>Pesquisar no DOEMA</h2>
                  <form action="#">
                    <div class="grupo-input">
                      <input style="width: 100%;padding: 30px 10px; background-color: white;"
                        placeholder="Informe o termo que deseja pesquisar nas Edições do Diário Oficial" type="text">
                      <div class="grupo-input-addon">
                        <a class="pesquisa-anchor" href=""><i
                            style="font-size: 25px; margin-right: 20px; display: block;"
                            class="material-icons">search</i></a>

                        <span style="display: inline-block; margin-right: 10px" class="pesquisa-avancada">| Pesquisa
                          vançada </span>
                        <i style="font-size: 20px; margin-right: 20px; display: block;"
                          class="material-icons">format_indent_increase</i>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>

        </section>


        <div class="container">

        </div>
        <div class="container">
          <div class="row" style="margin-top: 40px">
            <div style="text-align: center;" class="col-sm-3 col-md-3">
              <a class="card-anchor" href="#">
                <div class="card card-opcoes">
                  <div class="body">
                    <h5><i class="fa fa-book fa-4x"></i></h5>
                    <h4 class="opcoes-titulo">EDIÇÕES</h4>
                    <p class="opcoes-p">
                      Veja todas as edições publicadas até o momento
                      no Diário Oficial do Estado do Maranhão

                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div style="text-align: center;" class="col-sm-3 col-md-3">
              <a class="card-anchor" href="#">
                <div class="card card-opcoes">
                  <div class="body">
                    <h5><i class="fa fa-id-card fa-4x"></i></h5>
                    <h4 class="opcoes-titulo">CREDENCIAMENTO</h4>
                    <p class="opcoes-p">
                      Caso você esteja buscando uma informação anterior
                      ao ano de 2004, clique aqui e solicite uma consulta em nosso acervo físico
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div style="text-align: center;" class="col-sm-3 col-md-3">
              <a class="card-anchor" href="#">
                <div class="card card-opcoes">
                  <div class="body">
                    <h5><i class="fa fa-book-open fa-4x"></i></h5>
                    <h4 class="opcoes-titulo">BIBLIOTECA</h4>
                    <p class="opcoes-p">
                      Caso você esteja buscando uma informação anterior
                      ao ano de 2004, clique aqui e solicite a busca ao nosso acervo físico
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div style="text-align: center;" class="col-sm-3 col-md-3">
              <a class="card-anchor" href="#">
                <div class="card card-opcoes">
                  <div class="body">
                    <h5><i class="fa fa-book fa-4x"></i></h5>
                    <h4 class="opcoes-titulo">DÚVIDAS</h4>
                    <p class="opcoes-p">
                      Caso você esteja buscando uma informação anterior
                      ao ano de 2004, clique aqui e solicite a busca ao nosso acervo físico
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- PLUGIN V-LIBRAS -->
        <div vw class="enabled">
          <div vw-access-button class="active"></div>
          <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
          </div>
        </div>
        <!-- Jquery Core Js -->
        <script src="/js/plugins/jquery/jquery.js"></script>
        <!-- Bootstrap Core Js -->
        <script src="/js/plugins/bootstrap/js/bootstrap.js"></script>
        <!-- Select Plugin Js -->

        <!-- Custom Js -->
        <script src="/js/js/admin.js"></script>
        <script src="/js/js/pages/index.js"></script>
        <script src="/js/js/pages/ui/modals.js"></script>
        <!-- Demo Js -->
        <script src="js/js/demo.js"></script>
        <script src="js/jquery.mask.js"></script>
        <script>
          document.querySelector(".banner-inicio").addEventListener("click", () => {
            $(".banner-inicio").remove();
            console.log(this)
          })
          console.log($(".banner"));
        </script>



        <script src='/fullcalendar/wwwroot/lib/jquery.min.js'></script>
        <script src="/fullcalendar/wwwroot/lib/moment.min.js"></script>
        <script src='/fullcalendar/wwwroot/fullcalendar.min.js'></script>
        <script src="/fullcalendar/wwwroot/locale/pt-br.js"></script>


        <script>
          //
          // CONFIGURACAO DO FULLCALENDAR
          //
          $(function () {
            /* initialize the external events
            -----------------------------------------------------------------*/
            function init_events(ele) {
              ele.each(function () {
                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                  title: $.trim($(this)
                    .text()) // use the element's text as the event title
                }

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject)

                // make the event draggable using jQuery UI
                $(this).draggable({
                  zIndex: 1070,
                  revert: true, // will cause the event to go back to its
                  revertDuration: 0 //  original position after the drag
                })
              })
            }

            init_events($('#external-events div.external-event'))

            /* initialize the calendar
            -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date()
            var d = date.getDate(),
              m = date.getMonth(),
              y = date.getFullYear(),
              h = date.getHours(),
              min = date.getMinutes(),
              s = date.getSeconds()
            var feriados = JSON.parse('<%- JSON.stringify(feriados) %>');
            var feriadoId;;

            //Inicializa o Calendario
            $(document).ready(function () {
              $('#calendar').fullCalendar({
                // Mostrar eventos
                defaultView: $(window).width() < 765 ? 'agendaDay' : 'month',


                header: {
                  left: 'prev',
                  center: 'title',
                  right: 'next'
                },
                buttonText: {
                  today: 'Hoje',
                  month: 'Mês',
                  week: 'Semana',
                  day: 'Dia'
                },
                events: feriados,
                defaultDate: Date(),
                navLinks: false, // can click day/week names to navigate views
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                selectHelper: true,
                selectable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
                // Função para criar evento ao clicar no dia
                dayClick: function (date, jsEvent, view) {
                  if (date.isValid()) {

                  } else {
                    alert('Invalid');
                  }
                },
                // Mostrar Descrição e redireciona para adicionar criança
                eventRender: function (event, element) {
                  element.attr('data-toggle', 'modal');
                  element.attr('data-target', '#logoutModal');
                  element.click(function () {
                    feriadoId = event.id;
                    nomeFeriado = event.title2;
                    $('#modalExemplo #title2').html(event.title2);
                    $('#modalExemplo #start').html(event.startModal);
                    $('#modalExemplo #end').html(event.endModal);
                    //$('.modal-body').html(event.description);
                  });
                },
                viewRender: function (view, element) {
                  var mes = montaMes(view.title);

                }

              })
            })
          })
          function montaMes(titulo) {
            if (titulo.includes('janeiro')) {
              return '01';
            } else if (titulo.includes('fevereiro')) {
              return '02';
            } else if (titulo.includes('março')) {
              return '03';
            } else if (titulo.includes('abril')) {
              return '04';
            } else if (titulo.includes('maio')) {
              return '05';
            } else if (titulo.includes('junho')) {
              return '06';
            } else if (titulo.includes('julho')) {
              return '07';
            } else if (titulo.includes('agosto')) {
              return '08';
            } else if (titulo.includes('setembro')) {
              return '09';
            } else if (titulo.includes('outubro')) {
              return '10';
            } else if (titulo.includes('novembro')) {
              return '11';
            } else if (titulo.includes('dezembro')) {
              return '12';
            }
          }
        </script>



</body>

</html>