<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/img/sdc-color.svg" type="image/x-icon">
  <title>
    <%- process.env.TITLE %>
  </title>

  <!--FULL CALENDAR !-->

  <link href="/fullcalendar/wwwroot/fullcalendar.min.css" rel="stylesheet">
  <link href="/fullcalendar/wwwroot/fullcalendar.print.min.css" rel="stylesheet" media="print">
  <link href='fullcalendar/wwwroot/main.css' rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400, 600, 700, 800, 900|Work+Sans:300"
    rel="stylesheet">
  <!-- Google Fonts -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Waves Effect Css -->
  <link href="/js/plugins/node-waves/waves.css" rel="stylesheet" />

  <!-- Animation Css -->
  <link href="/js/plugins/animate-css/animate.css" rel="stylesheet" />

  <!-- Dropzone Css -->
  <link href="/js/plugins/dropzone/dropzone.css" rel="stylesheet">


  <!-- Bootstrap DatePicker Css -->
  <link href="/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

  <!-- Wait Me Css -->
  <link href="/js/plugins/waitme/waitMe.css" rel="stylesheet" />

  <!-- Bootstrap Select Css -->
  <link href="/js/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

  <!-- Custom Css -->
  <link href=" /css/css/style.css" rel="stylesheet">

  <link href="/css/css/themes/all-themes.css" rel="stylesheet" />

  <!-- Bootstrap Material Datetime Picker Css -->
  <link href="/js/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
    rel="stylesheet" />

  <link rel="stylesheet" href="/css/template-styles/inicio.css">




</head>


<body>
  <%- include ../template/topo-public.ejs %>

    <% if (locals.mensagem) { %><img class="banner"
        src="data:image/png;base64;svg;jpg;jpeg, <%= mensagem.base64Img%>" />
      <% } %>

        <div class="container">
          <div class="row" style="margin-top: 100px;">
            <div class=" col-xs-12 col-sm-12 col-md-12">
              <div style="text-align: center;" class="center">
                <h2>Pesquisar no DOEMA</h2>
                <form action="#">
                  <div class="grupo-input">
                    <input placeholder="Informe o termo que deseja pesquisar nas Edições do Diário Oficial" type="text">
                    <div class="grupo-input-addon">
                      <a class="pesquisa-anchor" href=""><i style="font-size: 25px; margin-right: 20px; display: block;"
                          class="material-icons">search</i></a>

                      <span style="display: inline-block; margin-right: 10px" class="pesquisa-avancada">| Pesquisa
                        vançada </span>
                      <i style="font-size: 20px; margin-right: 20px; display: block;"
                        class="material-icons">format_indent_increase</i>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <ul class="jornais-principal">
                <li><a class=" jornal-principal anchor-terceiros" href="#">TERCEIROS</a></li>
                <li><a class=" jornal-principal anchor-executivo" href="">EXECUTIVO</a></li>
                <li><a class=" jornal-principal anchor-suplementos" href="">SUPLEMENTOS</a></li>
              </ul>
            </div>



            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div style="text-align: center;">
                <img class="jornal-bg" width="250" src="/img/jornal-bg.png" alt="">
              </div>
            </div>

            <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div style="background-color: white; border-radius: 5px; padding: 10px;" class="calendario">
                <div id="calendar"></div>
              </div>
            </div>

          </div>



          <div class="row" style="margin-top: 40px">
            <div style="text-align: center;" class="col-sm-3 col-md-3">
              <a class="card-anchor" href="#">
                <div class="card card-opcoes">
                  <div class="body">
                    <h5><i class="fa fa-book fa-4x"></i></h5>
                    <h4 class="opcoes-titulo">EDIÇÕES</h4>
                    <p class="opcoes-p">
                      Veja todas as edições publicadas até o momento
                      no Diário Oficial do Estado do Maranhão

                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div style="text-align: center;" class="col-sm-3 col-md-3">
              <a class="card-anchor" href="#">
                <div class="card card-opcoes">
                  <div class="body">
                    <h5><i class="fa fa-id-card fa-4x"></i></h5>
                    <h4 class="opcoes-titulo">CREDENCIAMENTO</h4>
                    <p class="opcoes-p">
                      Caso você esteja buscando uma informação anterior
                      ao ano de 2004, clique aqui e solicite uma consulta em nosso acervo físico
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div style="text-align: center;" class="col-sm-3 col-md-3">
              <a class="card-anchor" href="#">
                <div class="card card-opcoes">
                  <div class="body">
                    <h5><i class="fa fa-book-open fa-4x"></i></h5>
                    <h4 class="opcoes-titulo">BIBLIOTECA</h4>
                    <p class="opcoes-p">
                      Caso você esteja buscando uma informação anterior
                      ao ano de 2004, clique aqui e solicite a busca ao nosso acervo físico
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div style="text-align: center;" class="col-sm-3 col-md-3">
              <a class="card-anchor" href="#">
                <div class="card card-opcoes">
                  <div class="body">
                    <h5><i class="fa fa-book fa-4x"></i></h5>
                    <h4 class="opcoes-titulo">DÚVIDAS</h4>
                    <p class="opcoes-p">
                      Caso você esteja buscando uma informação anterior
                      ao ano de 2004, clique aqui e solicite a busca ao nosso acervo físico
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <!--               
              <div class="row">
                <a class="col-sm-12 col-md-4" href="http://www.jucesponline.sp.gov.br/" target="_blank">

                  <h5><i class="fa fa-file-contract fa-2x"></i>&nbsp;Junta Comercial</h5>
                  <br>
                  <p>Consulta de empresas registradas na Jucesp</p>
                </a>
                <br>
                <a class="col-sm-12 col-md-4" href="ENegocios/BoletimNPAssinatura_15_1.aspx">

                  <h5><i class="fa fa-gavel fa-2x"></i>&nbsp;e-negocios.informa</h5>
                  <p>Recebimento antecipado das licitações</p>
                </a>
                <br>
                <a class="col-sm-12 col-md-4" href="DO/BoletimDOAssinatura_16_1.aspx">

                  <h5><i class="fa fa-newspaper fa-2x"></i>&nbsp;DO.informa</h5>
                  <br>
                  <p>Recebimento antecipado das publicações</p>
                </a>
                <br>
              </div>
              <br>
              <div class="row">
                <br>
                <a href="https://pubnet.imprensaoficial.com.br/" target="_blank" class="col-sm-12 col-md-4">

                  <h5><i class="fa fa-upload fa-2x"></i>&nbsp;Pubnet</h5>
                  <br>
                  <p>Publicação de matérias e licitações</p>
                </a>
                <br>
                <a href="/DO/DetalhesDO_2_5.aspx" class="col-sm-12 col-md-4">

                  <h5><i class="fa fa-balance-scale fa-2x"></i>&nbsp;Publicidade legal</h5>
                  <br>
                  <p>Quem e como deve publicar</p>
                </a>
                <br>
              </div> -->





        <div class="modal fade" id="logoutModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <form id="modalExemplo" method="post" action="/app/feriados/delete/">
                <input type="hidden" name="id" id="campo">
                <div class="modal-body">Você realmente deseja apagar este item?</div>
                <div class="modal-footer">
                  <button class="d-none d-sm-inline-block btn btn-sm shadow-sm" type="button" data-dismiss="modal"
                    style="background-color: #8A7D51; color: #fff;">Cancelar</button>
                  <input type="submit" value="Excluir"
                    class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" />
                </div>
              </form>
            </div>
          </div>
        </div>


        <div class="scripts">
          <!-- Jquery Core Js -->
          <script src="/js/plugins/jquery/jquery.min.js"></script>



          <!-- Bootstrap Core Js -->
          <script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

          <!-- Select Plugin Js -->
          <script src="/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>

          <!-- Slimscroll Plugin Js -->
          <script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

          <!-- Waves Effect Plugin Js -->
          <script src="/js/plugins/node-waves/waves.js"></script>

          <!-- Jquery CountTo Plugin Js -->
          <script src="/js/plugins/jquery-countto/jquery.countTo.js"></script>

          <!-- Morris Plugin Js -->
          <script src="/js/plugins/raphael/raphael.min.js"></script>
          <script src="/js/plugins/morrisjs/morris.js"></script>

          <!-- ChartJs -->
          <script src="/js/plugins/chartjs/Chart.bundle.js"></script>

          <!-- Flot Charts Plugin Js -->
          <script src="/js/plugins/flot-charts/jquery.flot.js"></script>
          <script src="/js/plugins/flot-charts/jquery.flot.resize.js"></script>
          <script src="/js/plugins/flot-charts/jquery.flot.pie.js"></script>
          <script src="/js/plugins/flot-charts/jquery.flot.categories.js"></script>
          <script src="/js/plugins/flot-charts/jquery.flot.time.js"></script>

          <!-- Momment JS for date-picker -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

          <!-- Sparkline Chart Plugin Js -->
          <script src="/js/plugins/jquery-sparkline/jquery.sparkline.js"></script>

          <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>



          <!-- Custom Js -->
          <script src="/js/js/admin.js"></script>
          <script src="/js/js/pages/index.js"></script>
          <script src="/js/js/pages/ui/modals.js"></script>

          <!-- Demo Js -->
          <script src="js/js/demo.js"></script>
          <script src="js/jquery.mask.js"></script>

          <script>
            document.querySelector(".banner").addEventListener("click", () => {
              $(".banner").remove();
              console.log(this)
            })
            console.log($(".banner"));
          </script>
          <script src='/fullcalendar/wwwroot/lib/jquery.min.js'></script>
          <script src="/fullcalendar/wwwroot/lib/moment.min.js"></script>
          <script src='/fullcalendar/wwwroot/fullcalendar.min.js'></script>
          <script src="/fullcalendar/wwwroot/locale/pt-br.js"></script>

        </div>

        <script>
          //
          // CONFIGURACAO DO FULLCALENDAR
          //

          $(function () {
            /* initialize the external events
            -----------------------------------------------------------------*/
            function init_events(ele) {
              ele.each(function () {
                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                  title: $.trim($(this).text()) // use the element's text as the event title
                }

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject)

                // make the event draggable using jQuery UI
                $(this).draggable({
                  zIndex: 1070,
                  revert: true, // will cause the event to go back to its
                  revertDuration: 0 //  original position after the drag
                })
              })
            }

            init_events($('#external-events div.external-event'))

            /* initialize the calendar
            -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date()
            var d = date.getDate(),
              m = date.getMonth(),
              y = date.getFullYear(),
              h = date.getHours(),
              min = date.getMinutes(),
              s = date.getSeconds();

            //Inicializa o Calendario	
            $(document).ready(function () {

              $('#calendar').fullCalendar({
                defaultView: $(window).width() < 765 ? 'agendaDay' : 'month',
                header: {
                  left: 'prev',
                  center: 'title',
                  right: 'next'
                },
                buttonText: {
                  today: 'Hoje',
                  month: 'Mês',
                  week: 'Semana',
                  day: 'Dia'
                },
                themeSystem: 'standard',
                height: '100%',
                width: '100%',
                aspectRatio: 1.3,
                defaultDate: Date(),
                navLinks: false, // can click day/week names to navigate views
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                selectHelper: true,
                selectable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
              })
            })
          })

          function montaMes(titulo) {
            if (titulo.includes('janeiro')) {
              return '01';
            } else if (titulo.includes('fevereiro')) {
              return '02';
            } else if (titulo.includes('março')) {
              return '03';
            } else if (titulo.includes('abril')) {
              return '04';
            } else if (titulo.includes('maio')) {
              return '05';
            } else if (titulo.includes('junho')) {
              return '06';
            } else if (titulo.includes('julho')) {
              return '07';
            } else if (titulo.includes('agosto')) {
              return '08';
            } else if (titulo.includes('setembro')) {
              return '09';
            } else if (titulo.includes('outubro')) {
              return '10';
            } else if (titulo.includes('novembro')) {
              return '11';
            } else if (titulo.includes('dezembro')) {
              return '12';
            }
          }
        </script>
        <div vw class="enabled">
          <div vw-access-button class="active"></div>
          <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
          </div>
        </div>
        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>
          new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>
</body>

</html>