<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible"
				content="IE=edge">
	<meta name="viewport"
				content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description"
				content="">
	<meta name="author"
				content="">
	<link rel="icon"
				href="/img/sdc-color.svg"
				type="image/x-icon">
	<title><%- process.env.TITLE %></title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css"
				rel="stylesheet"
				type="text/css">
	<link
				href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
				rel="stylesheet">

	<!-- Google Fonts -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext"
				rel="stylesheet"
				type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
				rel="stylesheet"
				type="text/css">

	<!-- Bootstrap Core Css -->
	<link href="/js/plugins/bootstrap/css/bootstrap.css"
				rel="stylesheet">

	<!-- Waves Effect Css -->
	<link href="/js/plugins/node-waves/waves.css"
				rel="stylesheet" />

	<!-- Animation Css -->
	<link href="/js/plugins/animate-css/animate.css"
				rel="stylesheet" />

	<!-- Dropzone Css -->
	<link href="/js/plugins/dropzone/dropzone.css"
				rel="stylesheet">


	<!-- Bootstrap DatePicker Css -->
	<link href="/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css"
				rel="stylesheet" />

	<!-- Wait Me Css -->
	<link href="/js/plugins/waitme/waitMe.css"
				rel="stylesheet" />

	<!-- Bootstrap Select Css -->
	<link href="/js/plugins/bootstrap-select/css/bootstrap-select.css"
				rel="stylesheet" />

	<!-- Custom Css -->
	<link href="/css/css/style.css"
				rel="stylesheet">
	<link rel="stylesheet"
				href="/css/css/style2.css">
	<link href="/css/css/themes/all-themes.css"
				rel="stylesheet" />

	<!-- Bootstrap Material Datetime Picker Css -->
	<link href="/js/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
				rel="stylesheet" />

	<style>
		* {

			box-sizing: border-box;
		}

		header h1 spanc {
			font-size: 72px;
			background: -webkit-linear-gradient(#4345f4, #43abf4);

			font-weight: 900;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		section .main {
			height: 100vh;
			background-color: aquamarine !important;
		}

		section .main--2 {
			height: 100vh;
			background-color: rgb(21, 29, 26) !important;
		}
	</style>
</head>

<%- include ../template/topo-public.ejs %>

<body>



	<div class="container">

		<div class="row clearfix">
			<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">

			</div>
		</div>
	</div>
	<!-- Jquery Core Js -->
	<script src="/js/plugins/jquery/jquery.min.js"></script>




	<!-- Bootstrap Core Js -->
	<script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

	<!-- Select Plugin Js -->
	<script src="/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>

	<!-- Slimscroll Plugin Js -->
	<script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

	<!-- Waves Effect Plugin Js -->
	<script src="/js/plugins/node-waves/waves.js"></script>

	<!-- Jquery CountTo Plugin Js -->
	<script src="/js/plugins/jquery-countto/jquery.countTo.js"></script>

	<!-- Morris Plugin Js -->
	<script src="/js/plugins/raphael/raphael.min.js"></script>
	<script src="/js/plugins/morrisjs/morris.js"></script>

	<!-- ChartJs -->
	<script src="/js/plugins/chartjs/Chart.bundle.js"></script>

	<!-- Flot Charts Plugin Js -->
	<script src="/js/plugins/flot-charts/jquery.flot.js"></script>
	<script src="/js/plugins/flot-charts/jquery.flot.resize.js"></script>
	<script src="/js/plugins/flot-charts/jquery.flot.pie.js"></script>
	<script src="/js/plugins/flot-charts/jquery.flot.categories.js"></script>
	<script src="/js/plugins/flot-charts/jquery.flot.time.js"></script>

	<!-- Momment JS for date-picker -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

	<!-- Sparkline Chart Plugin Js -->
	<script src="/js/plugins/jquery-sparkline/jquery.sparkline.js"></script>

	<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>



	<!-- Custom Js -->
	<script src="/js/js/admin.js"></script>
	<script src="/js/js/pages/index.js"></script>
	<script src="/js/js/pages/ui/modals.js"></script>

	<!-- Demo Js -->
	<script src="js/demo.js"></script>
	<script src="js/jquery.mask.js"></script>

</body>

</html>